/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* restart css */
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* end reset css */

* {
  background-color: #192026;
}

.container {
  max-width: 1174px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.header {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .header__title {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 32px;
  }

  .header__home,
  .header__list {
    color: #868686;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
  }

  .header__search {
    width: 374px;
    background-color: #374151;
    color: #868686;
    padding: 8px 18px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    border-radius: 37px;
    border: 1px solid transparent;
  }
}

.explore {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;
}

.suggest {
  color: #868686;
  font-size: 22px;
  font-weight: 400;
  line-height: 24.75px;
}

.banner {
  position: relative;
  width: 100%;
  height: 400px;

  .banner__img {
    /* background: url("assets/spy_banner.png") no-repeat center center; */
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    border-radius: 12px;
  }

  .banner__content {
    width: 586px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 47px;
    background-color: transparent;
    color: #fff;
    z-index: 10;

    .banner__content-title {
      background-color: transparent;
      font-size: 36px;
      font-weight: 600;
      line-height: 64px;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
    }

    .banner__content-desc {
      background-color: transparent;
      font-size: 16px;
      font-weight: 400;
      line-height: 27px;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(29, 29, 29, 0) 0%,
    rgba(29, 29, 29, 0.8) 100%
  );
  pointer-events: none;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .list-title {
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    line-height: 32px;
  }

  .list-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .list-item {
      width: 170px;
      position: relative;
      cursor: pointer;

      img {
        width: 100%;
        height: auto;
        display: block;
      }

      .list__content {
        width: 100%;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 17px;
        background-color: transparent;

        .list__content-ep {
          background-color: transparent;
          color: #fff;
          font-size: 16px;
          font-weight: 400;
          line-height: 18px;
          text-align: center;
        }

        .list__content-name {
          color: #fff;
          background-color: transparent;
          font-size: 16px;
          font-weight: 600;
          line-height: 18px;
          text-align: center;
        }
      }
    }

    .list-item::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 80px;
      background: linear-gradient(
        to bottom,
        rgba(29, 29, 29, 0) 0%,
        rgba(15, 30, 41, 1) 100%
      );
      pointer-events: none;
    }
  }
}
